In [3]:
!python -V

Python 3.10.5

In [118]:
import sqlite3
import pandas as pd
pd.__version__

'2.0.2'

In [119]:
sqlite_connection = sqlite3.connect('test.db')

Task 1

In [115]:
# with verification
try:
    df = pd.read_sql(
        """SELECT 
            product_id,
            cast(min(price) as text) as price_min,
            cast(max(price) as text) as price_max
        FROM product_price
        group by product_id
        having cast(min(price) as text) != cast(max(price) as text)
        order by product_id;""", \
                sqlite_connection)
    print(df)
except Exception as e:
    print("Error!", e)

   product_id price_min price_max
0           1   10500.0   12500.0
1           2   26100.0   27500.0
2           3   22000.0   22900.0
3           4   20000.0   22000.0
4           5   23500.0   24600.0
5           6   17800.0   17900.0
6           8   37000.0   38300.0
7           9   43800.0   44500.0
8          10   75600.0   76800.0

In [116]:
# without verification
pd.read_sql(
    """SELECT 
        product_id,
        cast(min(price) as text) as price_min,
        cast(max(price) as text) as price_max
    FROM product_price
    group by product_id
    having cast(min(price) as text) != cast(max(price) as text)
    order by product_id;""", \
           sqlite_connection)

   product_id price_min price_max
0           1   10500.0   12500.0
1           2   26100.0   27500.0
2           3   22000.0   22900.0
3           4   20000.0   22000.0
4           5   23500.0   24600.0
5           6   17800.0   17900.0
6           8   37000.0   38300.0
7           9   43800.0   44500.0
8          10   75600.0   76800.0

In [117]:
sqlite_connection.close()
print("Connection was closed")

Connection was closed