In [2]:
import sqlite3
import pandas as pd
pd_v = pd.__version__
python_v = !python -V
print("version", *python_v)
print("version Pandas", pd_v)

version Python 3.10.5
version Pandas 2.0.2

**Входные данные**

In [8]:
sqlite_connection = sqlite3.connect('test.db')

**Решение**

In [9]:
# Сохранение данных в датафрейм
df = pd.read_sql(
    """SELECT 
        employee_id,
        first_name,
        last_name,
        coalesce(manager_id, 0) manager_id  
    FROM employee e;""", \
    sqlite_connection)

In [10]:
# Проходимся по каждому менеджеру менеджера пока не дойдем до 0
df['count_managers'] = 0

for i in range(len(df)):
    j = i
    while df.iloc[j]['manager_id'] > 0:
        df.at[i, 'count_managers'] += 1
        j = df.iloc[j]['manager_id']
        
df.drop(columns=['manager_id'], inplace=True)
df.sample(10)

    employee_id first_name    last_name  count_managers
5             6   Светлана      Немцова               0
39           44     Эдуард        Рогов               2
14           15       Эрик      Картман               1
32           33      Лилия    Леонтьева               2
25           26    Наталия     Потапова               1
1             2      Кенни    Маккормик               0
9            10       Влад       Контур               0
15           16    Николай     Воробьёв               1
36           41    Любомир      Ефремов               2
23           24     Марина  Кондратьева               1